.img-container {
  background-color: rgba(0,0,0,0.05);
}

.img {
  max-height: 350px;
  padding: 10px;
}

.description {
  max-height: 70px;
  overflow-y: auto;
}

.btn-container {
  height: calc(100% - 20px);
  padding-bottom: 18px;
}
