<mat-form-field appearance="fill">
  <button matPrefix mat-icon-button tabindex="-1" (click)="counter = counter - 1"
    [disabled]="counter <= min || disabled">
    <mat-icon>remove_circle_outline</mat-icon>
  </button>
  <input matInput type="tel" class="text-center" [disabled]="true" [(ngModel)]="counter">
  <button matSuffix mat-icon-button (click)="counter = counter + 1" tabindex="-1"
    [disabled]="counter >= max || disabled">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</mat-form-field>
