<app-loader *ngIf="isLoading"></app-loader>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <mat-toolbar class="display-flex justify-space-between" color="primary" mat-dialog-title>
    <span>{{ title }}</span>
    <button mat-icon-button type="button" [mat-dialog-close]="false" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-dialog-content>
    <mat-card>
      <mat-card-content>
        <div class="display-flex">
          <div class="flex-1 pr-10">
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Nome</mat-label>
              <input type="text" formControlName="name" matInput>
              <mat-error *ngIf="productForm.get('name')?.invalid">
                {{ showInputError('name') }}
              </mat-error>
            </mat-form-field>

            <br><br>

            <mat-form-field appearance="fill" class="pr-10">
              <mat-label>Preço</mat-label>
              <input type="tel" formControlName="normal_price" matInput prefix="R$"
                mask="separator.2" class="text-right" thousandSeparator="." decimalMarker=",">
              <mat-error *ngIf="productForm.get('normal_price')?.invalid">
                {{ showInputError('normal_price') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Preço promocional</mat-label>
              <input type="tel" formControlName="promotional_price" matInput prefix="R$"
                mask="separator.2" class="text-right" thousandSeparator="." decimalMarker=",">
              <mat-error *ngIf="productForm.get('promotional_price')?.invalid">
                {{ showInputError('promotional_price') }}
              </mat-error>
            </mat-form-field>

            <br><br>

            <mat-form-field appearance="fill" class="pr-10">
              <mat-label>Estoque</mat-label>
              <input type="number" formControlName="stock" matInput class="text-right">
              <mat-error *ngIf="productForm.get('stock')?.invalid">
                {{ showInputError('stock') }}
              </mat-error>
            </mat-form-field>

            <mat-slide-toggle color="primary" formControlName="status" labelPosition="before">
              Status
            </mat-slide-toggle>

            <br><br>

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Categoria</mat-label>
              <mat-select formControlName="category_id">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productForm.get('category_id')?.invalid">
                {{ showInputError('category_id') }}
              </mat-error>
            </mat-form-field>

            <br><br>
          </div>

          <div>
            <app-image-picker (onChangeImg)="onChangeImg($event)"
              (onDelImg)="onDelImg()" [imgPath]="getCompleteImgPath()"
              (onErrorImg)="imgError = $event"
              [errorOccurred]="!!productForm.get('base64_img')?.invalid"></app-image-picker>

            <mat-error *ngIf="imgError || productForm.get('base64_img')?.invalid"
              class="text-center base64img-msg-error">
              {{ imgError || showInputError('base64_img') }}
            </mat-error>
          </div>
        </div>

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Descrição</mat-label>
          <textarea formControlName="description" rows="4" matInput></textarea>
          <mat-error *ngIf="productForm.get('description')?.invalid">
            {{ showInputError('description') }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" [mat-dialog-close]="false">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">
      Salvar
    </button>
  </mat-dialog-actions>
</form>
