<mat-card (click)="onProductClick(product)" (mouseover)="isHovered = true"
  (mouseout)="isHovered = false" [class.mat-elevation-z2]="!isHovered"
  [class.mat-elevation-z8]="isHovered">
  <img mat-card-image [src]="getCompleteImgPath(product.img_path)">

  <mat-card-content class="text-center">
    <p><strong>{{ product.name }}</strong></p>
    <p class="opacity-5">{{ product.category?.name }}</p>
    <p>
      <ng-template *ngIf="product.promotional_price > 0; then saleOn; else saleOff"></ng-template>

      <ng-template #saleOn>
        <strong>{{ product.promotional_price | currency:'BRL' }}</strong>
        &nbsp;&nbsp;
        <span class="opacity-5 text-line-through">
          {{ product.normal_price | currency:'BRL' }}
        </span>
      </ng-template>

      <ng-template #saleOff>
        <strong>{{ product.normal_price | currency:'BRL' }}</strong>
      </ng-template>
    </p>
  </mat-card-content>
</mat-card>
